<div fxFill fxLayout="column" fxLayoutAlign="space-around center">
    <div>
        <h3>
            Technical exercise for Zeenea by Asier Goñi Navarlaz.
        </h3>
        <span>
            Some considerations about the code:
            <ul>
                <li> There is a service, <i>mock-backend.service.ts</i>, that simulates the behaviour of a backend service. </li>
                <li> As commented on the code, some of the checks done in front should be done in backend too. </li>
                <li> I have done everything in english, but I could translate it to french <i>si besoin</i>. </li>
                <li> For any doubt, do not hestitate to contact me :) </li>
            </ul>
        </span>
    </div>
    <button mat-raised-button routerLink="/exercise">To exercise</button>
</div>
